section a:hover {
  background-color: rgba(27, 80, 129, 0.432);
  border-radius: 50px 50px;
}
section {
  margin: 30px;
}
section [class="nav-link active"] {
  background-color: rgba(24, 131, 231, 0.589);
  border-radius: 50px 50px;
}
section table {
  float: right;
}
section form {
  float: left;
  margin-left: 30px;
}
section th,
section td {
  padding: 10px;
}
table,
th,
td {
  border: 1px black solid;
  border-collapse: collapse;
  text-align: center;
  padding: 3px;
}
[class="form-control"],input {
  background-color: cornsilk;
}
label {
  font-weight: bold;
}
.back {
  background-color: white;
  background-position: fixed;
  height: 722px;
  background-size: cover;
}
footer{
  left:0;
  right:0;
  bottom:0;
  background: #e0c320;
  margin:0px;
  margin-top:100px;
  position: fixed;
  text-align: center;
  padding:10px;
}